/* Try different box model properties below */
.site-header :nth-child(2) {
  color: white;
  margin-bottom: 0;
}
.site-wrapper :last-child {
  font-size: 12px;
  text-align: center;
}

.site-wrapper :last-child {
  box-decoration-break: 4 4 0 #dba944;
}
