.countries {
  display: flex;
}

.countries--second .country {
  padding: 0.5em;
}

/* Add your own CSS code below */
.countries.countries--first {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.countries.countries--second {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.countries.countries--third {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.countries.countries--fourth {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}
